@{
    ViewBag.Title = "Admin";
    Layout = "_AdminLayout";
}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Projekte</h5>
        <p class="card-text">Alle Projekte zeigen und bearbeiten</p>
        <a  class="btn btn-primary"asp-controller="Projekts" asp-action="index">Projekts</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mitarbeiter</h5>
        <p class="card-text">Alle Mitarbeiter zeigen und bearbeiten</p>
        <a  class="btn btn-primary"asp-controller="Mitarbeiters" asp-action="index">Mitarbeiter</a>
      </div>
    </div>
  </div>
</div>